<h1>My Ingredients!</h1>

<ul id='items_list' class='ajax_list'>
  <%=render :partial => 'user_ingredient', :collection => @user_ingredients %>
</ul>

<%= link_to 'New user_ingredient', new_user_ingredient_path %>