

<div id="recently_viewed" >
<% if @viewed && @viewed.size > 0%>
<h4>Recently Viewed Recipes</h4>
  <ul>
    <% for r in @viewed %>
        <li><%= link_to r.title, recipe_path(r.id) %></li>
    <%end%>
  </ul>
<%end%>
</div>
