<h1>About iFood</h1>

<div>
   The iFood web application provides users with their own "kitchen" to keep track of what ingredients <br>
they have available to make certain recipes. For each user, dependent on what ingredients they have in <br>
in their kitchen, iFood will suggest recipes that the user can make. The user can choose to sort the <br>
suggestions by number of matching ingredients, preparation time, etc. <br><br>

A registered user can search for a recipe, scale the recipe size (ie. serving quantity so the ingredient<br>
will be adjusted), and choose to make it. Then iFood will automatically update the user's stock of <br>
ingredients accordingly; that is, it will decrement the ingredients in the user's "kitchen".<br><br>

iFood also supports generating, e-mailing, and printing a "grocery list".<br>
</div>