/*
    ColorBox Core Style
    The following rules are the styles that are consistant between all ColorBox themes
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
	ColorBox example user style
	These rules are ordered and tabbed in a way that represents the order/nesting of the generated HTML, 
	in hope that this will make the relationship easier to understand. Thanks, jack@colorpowered.com
*/
#cboxOverlay{background:#000;}

#colorBox{}
	#cboxTopLeft{width:27px; height:27px; background:url(/images/colorbox/borderTopLeft.png) 0 0 no-repeat;}
	#cboxTopCenter{height:27px; background:url(/images/colorbox/borderTopCenter.png) 0 0 repeat-x;}
	#cboxTopRight{width:27px; height:27px; background:url(/images/colorbox/borderTopRight.png) 0 0 no-repeat;}
	#cboxBottomLeft{width:27px; height:27px; background:url(/images/colorbox/borderBottomLeft.png) 0 0 no-repeat;}
	#cboxBottomCenter{height:27px; background:url(/images/colorbox/borderBottomCenter.png) 0 0 repeat-x;}
	#cboxBottomRight{width:27px; height:27px; background:url(/images/colorbox/borderBottomRight.png) 0 0 no-repeat;}
	#cboxMiddleLeft{width:27px; background:url(/images/colorbox/borderMiddleLeft.png) 0 0 repeat-y;}
	#cboxMiddleRight{width:27px; background:url(/images/colorbox/borderMiddleRight.png) 0 0 repeat-y;}
	#cboxContent{background:#fff;}
            #cboxLoadedContent{margin-bottom:20px;}
            #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
            #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
            #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
            #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
            #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
            #cboxLoadingOverlay{background:url(/images/colorbox/loading.gif) 5px 5px no-repeat #fff;}
            #cboxClose{position:absolute; bottom:0; right:0; display:block; color:#308ab4; text-decoration:underline;}


.note {zoom:1; background:#fff5ce; width:220px; float:left; position:relative; color:#000; padding:15px 0 5px 0;}
.note p {padding:0 15px;}
form, fieldset {margin:0; padding:0; border:none;}
form, fieldset, input, textarea, select {font-family:verdana, arial, sans-serif; font-size:1em;}
legend {margin:0; *margin-left:-7px; padding:0; border:none; white-space:normal; word-wrap:break-word; display:block; width:380px; float:left;}
legend span {display:block; width:380px;}


form .errors {list-style:none; list-style-image:none; color:#000; margin:0 0 30px 250px;} /* same left margin as main fieldset */
form ul.errors li {border:solid 1px #e59d9e; background:url(/images/error.gif) no-repeat 10px 13px #ffd3d4; padding:10px 10px 10px 35px; margin-left:0; list-style-image:none;}
form input.error {font-size:1em; border:solid 1px #e59d9e; background:#ffd3d4; padding:6px; color:#666;}
form .error {font-size:0.8em; color: #e59d9e;}

fieldset {margin:0 0 0 250px; position:relative;}
fieldset .note {margin:2.5em 0 0 -250px;}
fieldset.pad-form {padding:2em 0 1.5em 0; float:right; width:100%;}
fieldset.noleft {margin-left:0;}
fieldset fieldset {margin:0;}
fieldset.group {margin:0 0 1.5em 0; padding:0;}
fieldset.group legend,
fieldset.checks legend {font-size:1em; color:#999; padding-bottom:.475em;}
fieldset.group label {display:inline;}
fieldset.more-fields {margin-top:1em;}
fieldset.chunk-left {float:left; width:200px;}
fieldset.chunk-right {float:right; width:124px;}
fieldset.chunk-inline {float:left; width:auto;}

legend {font-size:1.75em; color:#000; line-height:1.25em;}
label {display:block; margin-bottom:.475em;}
label small {color:#ccc;}

form .field {border:solid 1px #f2f2f2; background:#fafafa; padding:6px; color:#999;}
form .field:focus {border:solid 1px #ccc;}
form .full {width:97%;}
form .row {margin-bottom:1.25em; position:relative;}
form .descrip {padding-top:1.5em;}
form .checks {margin-left:20px;}
form .checks input {float:left; margin-left:-20px;}

/*#visual-display {background:url(/images/paywith-visual-bg.gif) no-repeat top center #cdd9e1; position:relative; text-align:left;}*/
#visual-display .note {width:310px; float:right; margin:50px -16px 0 0;}
#visual-display {padding:25px;}
