body {
	background-color: #92b75b;
/*	background-image: url('../images/background-gradient.png');*/
/*	background-repeat:repeat-x;*/
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
}

.clear{
	clear: both;
}

#header {
	width: 100%;
	height: 50px;
	background-color:#5e5e5e;
}

#header a{
	color:white;
	text-decoration:none;
	font-weight:100;
}

#header a:hover{
	color:#aadb6d;
}

#logo {
	display:block;
	float:left;
	width:104px;
	height:55px;
	background-image:url('../images/logo.png');
	background-repeat:no-repeat;
}

.content{
	width:950px;
	margin:auto;
	overflow:hidden;
}

.header_link{
	float:left;
	width:145px;
	margin:16px 0 0 0;
	text-decoration:none;
	text-align:center;
}

.user_bar{
	text-align:right;
}

#main_content{
	margin-top:5px;
	width:940px;
	min-height:300px;
	background-color:#aadb6d;
	padding:10px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

div#main_content div#recently_viewed {
    padding-top: 10px;
    margin-top: 25px;
    border-top: 1px solid #92B75B;
}

div#main_content div#recently_viewed ul {
    list-style-type: none; 
    margin-left:0px; 
    padding-left: 0px; 
    font-size: 90%;
}    

div#main_content div#recently_viewed ul li{
    float: left; 
    margin-right: 15px;
}

.box{
	background-color:#92b75b;
	overflow:hidden;
	padding:10px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}
/*SECTIONS FOR LIST*/
ul.ajax_list{
	list-style-type: none;
	list-style-position: none;
	margin:0;
	padding:0;
}

.section{
	width:250px;
	text-align:left;
	float:left;
}

.user_id_section{
	width:50px;
	text-align:left;
	float:left;
}

.user_username_section{
	width:300px;
	text-align:left;
	float:left;
}

.user_email_section{
	width:400px;
	text-align:left;
	float:left;
}

.user_active_section{
	width:100px;
	text-align:left;
	float:left;
}

.user_category_section{
	width:50px;
	text-align:left;
	float:left;
}

.commenter{
   width:200px;
   text-align:left;
   float:left;
   font-family:fantasy;
   font-weight:bold;
   color: rgb(255,165,0);
}

.comment_desc{
	width: 700px;
	text-align:left;
	float:right:
	display: block;
	overflow: auto;
}

li.comment{
	height:auto;
	padding-top:5px;
	clear:both;
	border-bottom:1px dotted grey;
	width:100%;
}

.first{
	float:left;
	text-align:left;
}

.last{
	float:right;
	text-align:right;
}

li.highlightable{
	height:25px;
	padding-top:5px;
	clear:both;
	border-bottom:1px dotted grey;
	width:100%;
}

li.highlightable a{
	text-decoration:none;
}

.highlightable:hover{
	background-color:lightyellow;
}

.slide_down{
	border: 4px solid darkblue;
	background-color: lightgrey;
	padding:10px 5px 0 5px;
}

.float-r{
	float:right;
}

.float-l{
	float:left;
}

.centered{
	margin:auto;
}

.slide_down h3{
	margin:0 4px 10px 0;
	color:darkblue;
}

.slide_down label{
	color:darkblue;
}

.errorExplanation{
	background-color:lightsalmon;
	border:5px solid red;
}

.fieldWithErrors input{
	background-color:lightsalmon;
}

#flash_error{
	background-color:lightsalmon;
	height:25px;
}

#flash_notice{
	background-color:lightgreen;
	height:25px;
}

.flash{
	width:100%;
/*	margin:auto;*/
	text-indent:10px;
	border:1px dotted grey;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

.awesome{
display: inline-block;
padding: 5px 10px 6px;
color: #fff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #999;
-webkit-box-shadow: 0 1px 3px #999;
border-bottom: 1px solid #222;
position: relative;
cursor: pointer;
}